{% extends 'base.html' %}
{% load static %}

{% block title %}Ose Dinning - Casual Dining Booked{% endblock %}

{% block content %}
<div class="container contact-ctn text-center mt-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
    </svg>
    <h1 class="display-5 mb-1 mb-md-3 text-center">Booking was successful</h1>
</div>

<div class="container m-2 p-5">
    <h3 class="display-5 mb-1 mb-md-3 text-center" >Next Steps</h3>
    <ul>
        <li>If you’d like to have or add something else to your MENU please make known to us 96 hours before the event day, simply select the appropriate meal.</li>
        <li>All orders should be made known before 3days before event date</li>
        <li>We demand our clients to give us real dining time to his or her guest dinning time in order to serve you better.</li>
        <li>We will appreciate if our client will notify us of any allergic etc</li>
        <li>Please note that change or cancellation of event date will attract 45% of total BUDGET, not refundable</li>
        <li>Please we need you to communicate the details of the location to us, for food safety.</li>
        <li>Please check if meal time is convenient for your guests.</li>
        <li>Please confirm if the menu designed suit your client preference, if not do let us know so we can make necessary adjustment.</li>
        <li>Please do note that the above menu can be adjust to suit our customer preference</li>
        <li>Please customer should indicate any health deficiency to us 3days before event date.</li>
    </ul>

    <h2>OUTSIDE STATES EVENTS</h2>
    <ul>
        <li>Our clients shall made this known to us on the first day conversation.</li>
        <li>Our client will make payment of total bill.</li>
        <li>Our client will make provision for display stand eg table, etc when necessary.</li>
        <li>Our client will make available guest room to stay for me and my team.</li>
        <li>Our client will make space and kitchen available to prep dishes when necessary.</li>
    </ul>

    <a href="{% url 'pages:home' %}" class="btn btn-outline-light">Back to home page</a>
</div>


{% endblock %}