{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Ose Dinning - Fine Dining{% endblock %}

{% block content %}
<main id="main">

  <!-- Section - Services -->
    <!-- Service 6 - Bootstrap Brain Component -->
    <section id="scrollspyServices" class="bsb-service-6 py-5 py-xl-8 bsb-section-py-xxl-1">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7">
            <h3 class="fs-6 mb-2 text-secondary text-center text-uppercase">Fine Dining</h3>
            <h2 class="display-5 mb-1 mb-md-3 text-center">Menu is designed for a minimum of 10 (ten) guests</h2>
            <hr class="w-50 mx-auto mb-2 mb-xl-5 border-dark-subtle">
          </div>
        </div>
      </div>

      <div class="container mb-1 mb-md-3">
        <div class="row gy-5 gy-lg-0 align-items-lg-center">

          <label for="menu-select">Choose menu type:</label>
          <select class="form-select" name="menus" id="menu-select">
            <option value="">--Please choose an option--</option>
            <option value="menu-1">Menu 1</option>
            <option value="menu-2">Menu 2</option>
            <option value="menu-3">Menu 3</option>
            <option value="menu-4">Menu 4</option>
            <option value="menu-5">Menu 5</option>
            <option value="menu-6">Menu 6</option>
            <option value="menu-7">Menu 7</option>
          </select>

        </div>
      </div>

      <div class="container overflow-hidden">
        <div class="row gy-2 gy-md-0 gx-xxl-3">
          <div class="col-12 col-md-12">
            <div class="card bg-transparent border-primary rounded-0 overflow-hidden">
              <div class="card-body">
                <div id="menu-target" class="m-2"></div>
                <button id="cmd" type="button" class="btn btn-outline-dark bsb-btn-2xl">Generate Invoice</button>
                <a href="" class="btn btn-outline-dark bsb-btn-2xl" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reserve Now</a>           
                <div class="bsb-circle bg-accent border border-4 border-accent position-absolute top-100 start-100 translate-middle"></div>
              </div>
            </div>
          </div>
    </section>

    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'pages:reserve' %}" method="post">
        <div class="modal-header">
          <h1 class="modal-title display-5 mb-1 mb-md-3 text-center" id="staticBackdropLabel">RESERVATIONS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        
                {% csrf_token %}
                {{ form|bootstrap }}    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          <div class="form-actions">
            <button type="submit" class="btn btn-outline-primary">Reserve</button>
        </div>
        </div>
    </form>
      </div>
    </div>
  </div>
</main>

<script src="{% static 'js/menu.js' %}"></script>

{% endblock %}