{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Ose Dinning - Contact Us{% endblock %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6325.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6325.JPG' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6334.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6334.JPG' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6366.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6366.JPG' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6384.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6384.JPG' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6621.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6621.JPG' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6845.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6845.JPG' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6853.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6853.JPG' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6946.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_6946.JPG' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_8088.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_8088.JPG' %}" alt="Image Gallery" onclick="showImage(src)">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_7152.JPG' %}" data-lightbox="foods">
              <img src="{% static 'images/works/IMG_7152.JPG' %}" alt="Image Gallery" onclick="showImage(src)">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_7896.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_7896.JPG' %}" alt="Image Gallery" onclick="showImage(src)">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_7954.JPG' %}" data-lightbox="foods">
            <img src="{% static 'images/works/IMG_7954.JPG' %}" alt="Image Gallery" onclick="showImage(src)">
          </a>
          </div>
        </div>
      </div>
</main>

<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}