{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Ose Dinning - Contact Us{% endblock %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining1.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining1.avif' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining2.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining2.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining6.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining6.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining3.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining3.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining7.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining7.avif' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6845.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/IMG_6845.avif' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining5.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining5.avif' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining8.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining8.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining9.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining9.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
              <a href="{% static 'images/works/dining12.avif' %}" data-lightbox="Our Works">
              <img src="{% static 'images/works/dining12.avif' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining4.avif' %}" data-lightbox="Our Works">
              <img src="{% static 'images/works/dining4.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining15.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining15.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining16.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining16.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining17.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining17.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining18.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining18.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining19.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining19.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining20.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining20.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining21.avif' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining21.avif' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
      </div>
</main>

<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}