{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Ose Dinning - Contact Us{% endblock %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining1.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining1.webp' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining2.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining2.webp' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining6.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining6.webp' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining3.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining3.webp' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining7.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining7.webp' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/IMG_6845.JPG' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/IMG_6845.JPG' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining5.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining5.webp' %}" alt="Image Gallery">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining8.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining8.webp' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining9.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining9.webp' %}" alt="Image Gallery" onclick="showImage(src)">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
              <a href="{% static 'images/works/dining12.webp' %}" data-lightbox="Our Works">
              <img src="{% static 'images/works/dining12.webp' %}" alt="Image Gallery" onclick="showImage(src)">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining4.webp' %}" data-lightbox="Our Works">
              <img src="{% static 'images/works/dining4.webp' %}" alt="Image Gallery">
          </a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <a href="{% static 'images/works/dining11.webp' %}" data-lightbox="Our Works">
            <img src="{% static 'images/works/dining11.webp' %}" alt="Image Gallery" onclick="showImage(src)">
          </a>
          </div>
        </div>
      </div>
</main>

<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}