{% extends 'base.html' %}
{% load static %}

{% block title %}Ose Dinning - Home{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="hero-section m-4 p-5 rounded-5 justify-content-md-start">
        <h1>EQUISITE &amp; DELICIOUS</h1>
        <p class="lead">
            Our passion for exceptional food has inspired ingenious recipes, <br>
            crafted with dedication, care, and expertise. 
            OSE dining offers a platform <br>for sharing and savoring stories through food.
        </p>
        <a href="" class="btn btn-success btn-lg center">Explore Menu</a>
    </div>

    <div class="row dinner-type">
        <div class="col-sm text-center p-5 d-flex align-items-center justify-content-center">
            <div class="text-container border p-5">
                <h2>OUR MAGNIFICIENT MAIN COURSE</h2>
            <p class="text-align-center">We consider our main course exclusive, cultural and professional. It is simple, tasty and elegant.
                built around gorgeous depth of rich flavors, cultivated over time. Simply delicious at OSE
                DINNING
            </p>

            <a href="" class="btn btn-outline-dark">Reserve Now</a>
            
            </div>
        </div>

        <div class="col-sm first-img">
            
        </div>

    </div>

    <div class="row dinner-type">
        <div class="col-sm first-img">
            
        </div>

        <div class="col-sm text-center p-5 d-flex align-items-center justify-content-center">
            <div class="text-container border p-5">
                <h2>DESSERT GLORY</h2>
            <p>
                Crafted with love and precision, our dishes are meant to dazzle, 
                combining delightful flavors to create unforgettable moments. 
                Trust that you're in for an extraordinary culinary experience—a 
                plate that will linger in your memory. <br>
                
                Indulge in our succulent banana cake bite, drizzled with treacly agbalumo syrup, 
                accompanied by creamy kilishi gelato and delicate dankwa tuile. Dining with us at 
                OSE is an intimate and sensual journey, evoking beautiful melodies, love, and cherished memories. <br>

            </p>

            <a href="" class="btn btn-outline-dark">Reserve Now</a>
            </div>
        </div>

    </div>
</main>
{% endblock %}