{% extends 'base.html' %}
{% load static %}

{% block title %}Ose Dinning - Home{% endblock %}

{% block content %}

<main class="container-fluid">
    <div class="hero-section m-4 p-3 rounded-5 justify-content-md-start">
        <h1>EQUISITE &amp; DELICIOUS</h1>
        <p class="lead">
            Our passion for exceptional food has inspired ingenious recipes, <br>
            crafted with dedication, care, and expertise. 
            OSE dining offers a platform <br>for sharing and savoring stories through food.
        </p>
        <a href="" class="btn btn-success btn-lg center">Explore Menu</a>
    </div>

    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-6">
                <div class="outline-design">
                    <h2>OUR MAGNIFICIENT MAIN COURSE</h2>
                    <p class="text-align-center">We consider our main course exclusive, cultural and professional. It is simple, tasty and elegant.
                        built around gorgeous depth of rich flavors, cultivated over time. Simply delicious at OSE
                        DINNING
                    </p>
                    <a href="" class="btn btn-outline-dark">Learn more about us</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 hover01">
                <div class="first-img"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-6 hover01">
                <div class="second-img"></div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="outline-design">
                    <h2>OUR MAGNIFICIENT MAIN COURSE</h2>
                    <p class="text-align-center">We consider our main course exclusive, cultural and professional. It is simple, tasty and elegant.
                        built around gorgeous depth of rich flavors, cultivated over time. Simply delicious at OSE
                        DINNING
                    </p>
                    <a href="" class="btn btn-outline-dark">Learn more about us</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}