{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Ose Dinning - Home{% endblock %}

{% block content %}
<!-- Main -->
<main id="main">
    <!-- Hero 3 - Bootstrap Brain Component -->
    <section id="scrollspyHero" class="bg-black text-white pt-2 pb-5 p-lg-0">
        <div class="container overflow-hidden">
        <h1>Hello</h1>
        </div>
    </section>
</main>

<script>
  window.addEventListener('scroll', function() {
    const div = document.getElementById('scrollspyServices');
    const scrollspyAbout = document.getElementById('scrollspyAbout');
    const rect = div.getBoundingClientRect();
    const abt_rect = scrollspyAbout.getBoundingClientRect();
    
    // Check if the top and bottom of the div are within the viewport
    if (rect.top >= 0) {
      div.classList.add('animate__fadeInUp');
    } else if (abt_rect.top >= 0) {
      scrollspyAbout.classList.add('animate__fadeInUp');
    }
  });
</script>
{% endblock %}