{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Ose Dining - About Us{% endblock %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}

{% block content %}

<main class="container-fluid">
	<h1 class="text-center">About</h1>

	<div class="menu-ctn">
		<div class="menu-content">
			<div class="menu__content--about">
				<h1>SNACK &amp; DIPS</h1>
				<span>Menu 1</span>
				<h3></h3>
				<p>
					<span>Chicken skewer</span>
					Chicken on skewer crusted with herbs and cashew, served with oyster &amp; basil mayo.
					<span>Tacos platter</span>
					De-constructed tacos platter, masala kebab, crispy shrimp, spicy beef wrap, fish
					bite tempura, pilaf, meaty black sauce, cherry, cucumber, efiri emulsion and
					avocado
				</p>
			</div>
			
			<div class="menu__view--more">
				<p>view menu details</p>
				<div class="view__more--block"></div>
			</div>
		</div>

		<div class="menu-content">
			<div class="menu__content--about">
				<h1>SNACK &amp; DIPS</h1>
				<span>Menu 1</span>
				<h3></h3>
				<p>
					<span>Chicken skewer</span>
					Chicken on skewer crusted with herbs and cashew, served with oyster &amp; basil mayo.
					<span>Tacos platter</span>
					De-constructed tacos platter, masala kebab, crispy shrimp, spicy beef wrap, fish
					bite tempura, pilaf, meaty black sauce, cherry, cucumber, efiri emulsion and
					avocado
				</p>
			</div>
			
			<div class="menu__view--more">
				<p>view menu details</p>
				<div class="view__more--block"></div>
			</div>
		</div>
	</div>
</main>

{% endblock %}